.next-event {
    background: #fff;
    padding: 30px;
    text-align: center;
    margin-top: -50px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, .2);
}

button {
    margin: 50px auto;
    display: block;
}

table {
    text-align: center;
    padding: 10px;
    
    tr:nth-child(odd) {
        background: #fff;
    }
    
    td, 
    th {
        padding: 20px; 
        font-size: .8em;
        border-bottom: none;
    }
    .action {
        display: inline-block;
        padding-bottom: 2px;
        
        &:hover {
            cursor: pointer;
        }
    }
}

