.sidebar {
    background: #454552;
    color: #fff;
    border-right: 1px solid #454552;
    position: fixed;
    width: 20%;
    height: 100%;
    padding: 40px 0;
    
    ul {
        list-style: none;
        
        li {
            padding: 20px 30px;
            border-bottom: 1px solid #fff;
            
            &:last-child {
                padding-bottom: 0;
                border-bottom: 0;
            }
            a {
                font-size: .6em;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

.main-content {
    width: 80%;
    margin-left: 20%;
    padding: 40px;
}