.form-wrapper {
    background: #fff;
    margin-top: 200px;
    box-shadow: 1px 0 8px rgba(0, 0, 0, 0.1);
    
    form {
        padding: 60px;
        
        input {
            width: 100%;
            font-size: .7em;
            height: 60px;
            padding: 10px;
            border: none;
            border-radius: 0;
            border-bottom: 2px solid #4ea1d3;
        }
        
        button {
            display: block;
            margin: 40px auto 0 auto;;
        }
    }
} 